{% extends 'base_templates/_page_layout.html' %}

{% block css %}
    <style>
    </style>
{% endblock %}

{% block title %}

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">候选人信息</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="#">候选人信息</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block conent %}

{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}