<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <title>ResumeCRM Lock Screen</title>

        <link href="/static/plugins/minton/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <link href="/static/plugins/minton/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/style.css" rel="stylesheet" type="text/css">

        <script src="/static/plugins/minton/js/modernizr.min.js"></script>
        {% load staticfiles %}

    </head>
    <body>

        <div class="wrapper-page">

            <div class="text-center">
                <a href="/dashboard" class="logo-lg"><i class="mdi mdi-radar"></i> <span>ResumeCRM</span> </a>
            </div>

            <form method="post" action="" role="form" class="text-center m-t-20">
                <div class="user-thumb">
                    <img src="{% static obj.head_portrait %}" class="rounded-circle img-thumbnail"
                         alt="thumbnail">
                </div>
                <div class="form-group">
                    <h5 class="text-uppercase mt-2">{{ obj.name }}</h5>
                    <p class="text-muted">请输出密码后解锁屏幕.</p>
                    <div class="input-group m-t-30">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <i class="md md-vpn-key form-control-feedback l-h-34" style="left:6px;z-index: 99;"></i>
                        <span class="input-group-append"> 
                            <button type="submit" class="btn btn-email btn-primary waves-effect waves-light"> 登录 </button> 
                        </span>
                    </div>
                </div>
                <div class="text-right">
                    <a href="{% url "user-login" %}" class="text-muted">不是 {{ obj.name }} ?</a>
                </div>
            </form>

        </div>


        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="/static/plugins/minton/js/jquery.min.js"></script>
        <script src="/static/plugins/minton/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="/static/plugins/minton/js/bootstrap.min.js"></script>
        <script src="/static/plugins/minton/js/detect.js"></script>
        <script src="/static/plugins/minton/js/fastclick.js"></script>
        <script src="/static/plugins/minton/js/jquery.slimscroll.js"></script>
        <script src="/static/plugins/minton/js/jquery.blockUI.js"></script>
        <script src="/static/plugins/minton/js/waves.js"></script>
        <script src="/static/plugins/minton/js/wow.min.js"></script>
        <script src="/static/plugins/minton/js/jquery.nicescroll.js"></script>
        <script src="/static/plugins/minton/js/jquery.scrollTo.min.js"></script>
        <script src="/static/plugins/minton/plugins/switchery/switchery.min.js"></script>

        <!-- Custom main Js -->
        <script src="/static/plugins/minton/js/jquery.core.js"></script>
        <script src="/static/plugins/minton/js/jquery.app.js"></script>

    </body>
</html>