<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="/static/plugins/minton/images/favicon.ico">

        <title>ResumeCRM Login</title>

        <link href="/static/plugins/minton/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <link href="/static/plugins/minton/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/style.css" rel="stylesheet" type="text/css">

        <script src="/static/plugins/minton/js/modernizr.min.js"></script>

    </head>
    <body>

        <div class="wrapper-page">
            
            <div class="text-center">
                <a href="/dashboard" class="logo-lg"><i class="mdi mdi-radar"></i> <span>ResumeCRM</span> </a>
            </div>
            {% if isValidation %}
                <div class="alert alert-warning">
                    <strong>身份验证失效!</strong> 请重新登录系统.
                </div>
            {% endif %}

            <form class="form-horizontal m-t-20" method="post">

                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input class="form-control" name="username" type="text" required="" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-key"></i></span>
                            </div>
                            <input class="form-control" name="password" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                </div>
                <span style="color: red">{{ error_msg }}</span>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                记住登录我的登录信息
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">登录
                        </button>
                    </div>
                </div>

                <div class="form-group row m-t-30">
                    <div class="col-sm-7">
                        <a href="/user/recoverpw" class="text-muted"><i class="fa fa-lock m-r-5"></i> 忘记密码?</a>
                    </div>
                    <div class="col-sm-5 text-right">
                        <a href="/user/register" class="text-muted"><i class="mdi mdi-account-plus"></i>  创建用户</a>
                    </div>
                </div>
            </form>
        </div>


        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="/static/plugins/minton/js/jquery.min.js"></script>
        <script src="/static/plugins/minton/js/popper.min.js"></script><!-- Popper for Bootstrap -->
        <script src="/static/plugins/minton/js/bootstrap.min.js"></script>
        <script src="/static/plugins/minton/js/detect.js"></script>
        <script src="/static/plugins/minton/js/fastclick.js"></script>
        <script src="/static/plugins/minton/js/jquery.slimscroll.js"></script>
        <script src="/static/plugins/minton/js/jquery.blockUI.js"></script>
        <script src="/static/plugins/minton/js/waves.js"></script>
        <script src="/static/plugins/minton/js/wow.min.js"></script>
        <script src="/static/plugins/minton/js/jquery.nicescroll.js"></script>
        <script src="/static/plugins/minton/js/jquery.scrollTo.min.js"></script>
        <script src="/static/plugins/minton/plugins/switchery/switchery.min.js"></script>

        <!-- Custom main Js -->
        <script src="/static/plugins/minton/js/jquery.core.js"></script>
        <script src="/static/plugins/minton/js/jquery.app.js"></script>
	
	</body>
</html>