{% load authentication_tags %}
<div class="row">
    <div class="text-center m-r-10" id="divAdvancedFeatures" >
        <button id="btnAdvancedFeatures" class="btn btn-warning waves-effect disabled waves-light btn-lg "><canvas id="clear-day" width="35" height="35" class="m-t-10"></canvas></button>
    </div>
</div>

<div class="row">
    <div class="col-12" id="infoModal">
        <div class="card-box">
            <div class="row">
                
                <div style="display: inline" class="widget-bg-color-icon label_level">
                    <div class="bg-icon bg-icon-{{ protection }} pull-left" id="TrackResume" status="{{ TrackStatus }}" location="{{ request.user.email }}" owner="{{ agent_owner }}">
                        <i class="{{ lock_iocn }} text-seccess"></i>
                    </div>
                </div>
                <div >
                    <h3 style="display: inline" class="text-purple m-t-1">{{ obj.username }}&nbsp的简历</h3>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted font-13">
                        {{ objs_personal_assessment_str }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted m-b-30 font-13">
                        创建时间: &nbsp<code class="highlighter-rouge">  {{ obj.create_time|date:"Y-m-d H:i:s" }}  </code>&nbsp&nbsp
                        修改时间: &nbsp<code class="highlighter-rouge">  {{ obj.modify_time|date:"Y-m-d H:i:s" }}  </code>&nbsp&nbsp
                        简历来自: &nbsp<code class="highlighter-rouge">  {{ objs_resume_source }}  </code>&nbsp&nbsp
                        上传人员: &nbsp<code class="highlighter-rouge">  {{ objs_upload_user }}  </code>&nbsp&nbsp
                        跟踪人员: &nbsp<code class="highlighter-rouge">  {{ objs_agent }}  </code>&nbsp&nbsp
                    </p>
                </div>
            </div>
            {% include 'include/Models/_view_cn_en_resume.html' %}
        </div>
        
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                    
                        <ul class="nav nav-tabs tabs-bordered nav-justified col-md-6">
                            <li class="nav-item">
                                <a href="#user-info" data-toggle="tab" aria-expanded="false" class="nav-link active show">
                                    个人信息
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#work-info" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    工作信息
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="user-info">
                                <div class="row">
                                    
                                    <div class="col-sm-4">
                                        
                                        <div class="form-group row ">

                                            <label class="col-3 col-form-label" >姓名:</label>
                                            <div class="col-9" >
                                                <div class="input-group" id="lcons_label">
                                                    {{ obj.username }}
                                                    {% if objs_en_filename %}
                                                        {# <button class="btn btn-danger btn-sm m-b-5 m-l-15" disabled="disabled"><i class="mdi mdi-etsy"></i></button> #}
                                                        {# <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5 m-l-15" disabled><i class="mdi mdi-etsy "></i></button> #}
                                                        <nav style="margin-top: -10px;">
                                                          <div class="container-fluid">
                                                            <div class="navbar-header">
                                                              <a class="navbar-brand" href="#">
                                                                <img alt="Brand" width="20" height="20" src="https://mirror.shileizcc.com/Other/e2.png">
                                                              </a>
                                                            </div>
                                                          </div>
                                                        </nav>
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>                                            
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">身高:</label>
                                            <div class="col-9">
                                               {{ form_obj.high}}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">性别:</label>
                                            <div class="col-9">
                                                {% if obj.gender %}
                                                    <input type="text" name="gender" value="男" class="form-control-plaintext text-dark">
                                                {% else %}
                                                    <input type="text" name="gender" value="女" class="form-control-plaintext text-dark">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">婚姻状况:</label>
                                            <div class="col-9">
                                                {% if obj.marital_status %}
                                                    <input type="text" name="marital_status" value="已婚" class="form-control-plaintext text-dark">
                                                {% else %}
                                                    <input type="text" name="marital_status" value="未婚" class="form-control-plaintext text-dark">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">Email:</label>
                                            <div class="col-9">
                                                {{ form_obj.email }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">出生日期:</label>
                                            <div class="col-9">
                                                {{ form_obj.birthday }}
                                            </div>
                                        </div>                                            
                                        
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">籍贯:</label>
                                            <div class="col-9">
                                                {{ form_obj.place_residence }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">语言特长:</label>
                                            <div class="col-9">
                                                 {{ form_obj.language }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">民族:</label>
                                            <div class="col-9">
                                                 {{ form_obj.nation }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">电话:</label>
                                            <div class="col-9">
                                                {{ form_obj.phone }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">年龄:</label>
                                            <div class="col-9">
                                                {{ form_obj.age }}
                                            </div>
                                        </div>             
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">文凭:</label>
                                            <div class="col-9">
                                                {{ form_obj.degree }}
                                            </div>
                                        </div>                                            
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">毕业学校:</label>
                                            <div class="col-9">
                                                {{ form_obj.graduated_school }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">学习专业:</label>
                                            <div class="col-9">
                                                {{ form_obj.professional }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">学习类型:</label>
                                            <div class="col-9">
                                                {{ form_obj.learning_type }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="work-info">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">期望岗位:</label>
                                            <div class="col-9">
                                                {{ form_obj.jobs }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">期望工作地:</label>
                                            <div class="col-9">
                                                {{ form_obj.job_addr }}
                                                    
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">是否离职:</label>
                                            <div class="col-9">
                                                {% if obj.current_situation %}
                                                    <input type="text" name="job_addr" value="是" class="form-control-plaintext text-dark">
                                                {% else %}
                                                    <input type="text" name="job_addr" value="否" class="form-control-plaintext text-dark">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">是否全职:</label>
                                            <div class="col-9">
                                                {% if obj.nature_work %}
                                                    <input type="text" name="nature_work" value="是" class="form-control-plaintext text-dark">
                                                {% else %}
                                                    <input type="text" name="nature_work" value="否" class="form-control-plaintext text-dark">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">最近就职公司:</label>
                                            <div class="col-9">
                                                {{ form_obj.old_company }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">工作年限:</label>
                                            <div class="col-9">
                                                {{ form_obj.work_time }}
                                            </div>
                                        </div>                                            
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">期望薪资:</label>
                                            <div class="col-9">
                                                {{ form_obj.salary }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">到岗时间:</label>
                                            <div class="col-9">
                                                {{ form_obj.duty_time }}
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-3 col-form-label">最近就职岗位:</label>
                                            <div class="col-9">
                                                {{ form_obj.old_jobs }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        <ul class="nav nav-tabs tabs-bordered nav-justified col-md-6">
                            <li class="nav-item">
                                <a href="#home-b2" data-toggle="tab" aria-expanded="false" class="nav-link active show">
                                    简历详情
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile-b2" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    简历评价
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#messages-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    操作记录
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="home-b2">
                                <div class="col-lg-12">
                                    <div class="portlet">
                                        <div class="portlet-heading bg-primary">
                                            <h3 class="portlet-title">
                                                工作简历
                                            </h3>
                                            <div class="portlet-widgets">
                                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                                <span class="divider"></span>
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#JobResume"><i class="ion-minus-round"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="JobResume" class="panel-collapse collapse show">
                                            {{ objs_work_info_ele|safe }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="portlet">
                                        <div class="portlet-heading bg-primary">
                                            <h3 class="portlet-title">
                                                项目简历
                                            </h3>
                                            <div class="portlet-widgets">
                                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                                <span class="divider"></span>
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#ProjectResume"><i class="ion-minus-round"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="ProjectResume" class="panel-collapse collapse show">
                                            {{ objs_project_info_ele|safe }}
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-lg-12">
                                    <div class="portlet">
                                        <div class="portlet-heading bg-primary">
                                            <h3 class="portlet-title">
                                                教育简历
                                            </h3>
                                            <div class="portlet-widgets">
                                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                                <span class="divider"></span>
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#EducationResume"><i class="ion-minus-round"></i></a>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="EducationResume" class="panel-collapse collapse show">
                                            {{ objs_education_info_ele|safe }}
                                        </div>
                                    </div>
                                </div>



                                {# <div class="col-lg-12"> #}
                                    {# <div class="portlet"> #}
                                        {# <div class="portlet-heading bg-primary"> #}
                                            {# <h3 class="portlet-title"> #}
                                                {# 个人评价 #}
                                            {# </h3> #}
                                            {# <div class="portlet-widgets"> #}
                                                {# <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a> #}
                                                {# <span class="divider"></span> #}
                                                {# <a data-toggle="collapse" data-parent="#accordion1" href="#PersonalAssessment"><i class="ion-minus-round"></i></a> #}
                                            {# </div> #}
                                            {# <div class="clearfix"></div> #}
                                        {# </div> #}
                                        {# <div id="PersonalAssessment" class="panel-collapse collapse show"> #}
                                            {# {{ objs_personal_assessment_ele|safe }} #}
                                        {# </div> #}
                                    {# </div> #}
                                {# </div> #}

                                <div class="col-lg-12">
                                    <div class="portlet">
                                        <div class="portlet-heading bg-primary">
                                            <h3 class="portlet-title">
                                                综合能力
                                            </h3>
                                            <div class="portlet-widgets">
                                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                                <span class="divider"></span>
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#ComprehensiveAbility"><i class="ion-minus-round"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="ComprehensiveAbility" class="panel-collapse collapse show">
                                            {{ objs_comprehensive_ability_ele|safe }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="profile-b2">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="inbox-widget" style="overflow: hidden; outline: none;">
                                                {# <div class="inbox-item"> #}
                                                    {# <p class="text-muted">请在此进行评论.</p> #}
                                                {# </div> #}
                                                {{ comments_ele }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% MenuButtonAuthentication request "resume_candidate_info_comment" as RETURN %}{% if RETURN %}
                                    <div class="col-lg-12 m-t-10">
                                        <div class="row">
                                            {# {{ objs_user_comments_ele|safe }} #}
                                            {# "评论框" #}
                                            {# <div class="row"> #}
                                                {# <div class="col-sm-12"> #}
                                                    {# <div class="card-box"> #}
                                                        {# <h4 class="m-b-30 m-t-0 header-title"><b>Default Editor</b></h4> #}
                                                        {# <div class="summernote"> #}
                                                            {# <h3>Hello Summernote</h3> #}
                                                        {# </div> #}
                                                    {# </div> #}
                                                {# </div> #}
                                            {# </div> #}
                                            <div class="col-11 chat-inputbar">
                                                <input type="text" id="comments" class="form-control chat-input" placeholder="请输入你所需要的评语, 对候选进行评价。">
                                            </div>
                                            <div class="col-auto chat-send">
                                                <button type="submit" class="btn btn-md btn-primary btn-block waves-effect waves-light">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="messages-b2">
                                <div class="card card-body">
                                    <div class="row" style="background-color: #f5f5f5">
                                        <div class="col-sm-12">
                                            <div class="timeline">
                                                {{ operation_records_ele|safe }}
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>