{% load authentication_tags %}
<div class="row">
    <div class="text-center m-r-10" id="divAdvancedFeatures" >
        <button id="btnAdvancedFeatures" class="btn btn-warning waves-effect disabled waves-light btn-lg "><canvas id="clear-day" width="35" height="35" class="m-t-10"></canvas></button>
    </div>
</div>

<div class="row">
    <div class="col-12" id="infoModal">
        <div class="card-box">
            <h3 class="text-purple">{{ obj.username }}&nbsp的简历</h3>
            <p class="text-muted font-13">
                {{ objs_personal_assessment_str }}
            </p>
            <p class="text-muted m-b-30 font-13">
                创建时间: &nbsp<code class="highlighter-rouge">  {{ obj.create_time|date:"Y-m-d H:i:s" }}  </code>&nbsp&nbsp
                修改时间: &nbsp<code class="highlighter-rouge">  {{ obj.modify_time|date:"Y-m-d H:i:s" }}  </code>&nbsp&nbsp
                简历来自: &nbsp<code class="highlighter-rouge">  {{ objs_resume_source }}  </code>&nbsp&nbsp
                上传人员: &nbsp<code class="highlighter-rouge">  {{ objs_upload_user }}  </code>&nbsp&nbsp
                跟踪人员: &nbsp<code class="highlighter-rouge">  {{ objs_agent }}  </code>&nbsp&nbsp
            </p>
        </div>
        
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        <ul class="nav nav-tabs tabs-bordered nav-justified col-md-6">
                            <li class="nav-item">
                                <a href="#user-info" data-toggle="tab" aria-expanded="false" class="nav-link active show">
                                    个人信息
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#work-info" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    工作信息
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="user-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">姓名</label>
                                                    <input type="text" name="username" class="form-control" >
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">Email</label>
                                                    <input type="email" name="email" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label class="col-form-label">身高</label>
                                                    <input type="text" name="high" class="form-control" placeholder="身高">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="col-form-label">性别</label>

                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="gender_true" value="true" name="gender" class="custom-control-input">
                                                            <label class="custom-control-label" for="gender_true">男 (Man)</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="gender_false" value="false"  name="gender" class="custom-control-input">
                                                            <label class="custom-control-label" for="gender_false">女 (Woman)</label>
                                                        </div>

                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="col-form-label">婚姻状况</label>

                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="marital_status_true" value="true" name="marital_status" class="custom-control-input">
                                                            <label class="custom-control-label" for="marital_status_true">已婚</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="marital_status_flase" value="false" name="marital_status" class="custom-control-input">
                                                            <label class="custom-control-label" for="marital_status_flase">未婚</label>
                                                        </div>
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">电话</label>
                                                    <input type="text" name="phone" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">出生日期</label>
                                                    <input type="text" name="birthday" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">籍贯</label>
                                                    <input type="text" name="place_residence" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">语言特长</label>
                                                    <input type="text" name="language" class="form-control" >
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">民族</label>
                                                    <input type="text" name="nation" class="form-control">
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label class="col-form-label">文凭</label>
                                                    <input type="text" name="degree" class="form-control">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="col-form-label">毕业学校</label>
                                                    <input type="text" name="graduated_school" class="form-control">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputState" class="col-form-label">学习专业</label>
                                                    <input type="text" name="professional" class="form-control">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="col-form-label">学习类型</label>
                                                    <input type="text" name="learning_type" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="work-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">期望岗位</label>
                                                    <input type="text" name="jobs" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">期望工作地</label>
                                                    <input type="text" name="job_addr" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label class="col-form-label">是否离职</label>

                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="current_situation_true" value="true" name="current_situation" class="custom-control-input">
                                                            <label class="custom-control-label" for="current_situation_true">离职</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="current_situation_false" value="false"  name="current_situation" class="custom-control-input">
                                                            <label class="custom-control-label" for="current_situation_false">在职</label>
                                                        </div>

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="col-form-label">是否全职</label>

                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="nature_work_true" value="true" name="nature_work" class="custom-control-input">
                                                            <label class="custom-control-label" for="nature_work_true">全职</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="nature_work_false" value="false" name="nature_work" class="custom-control-input">
                                                            <label class="custom-control-label" for="nature_work_false">兼职</label>
                                                        </div>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">工作年限</label>
                                                    <input type="text" name="work_time" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">期望薪资</label>
                                                    <input type="text" name="salary" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">到岗时间</label>
                                                    <input type="text" name="duty_time" class="form-control" >
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">最近就职岗位</label>
                                                    <input type="text" name="old_jobs" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="col-form-label">最近就职公司</label>
                                                    <input type="text" name="old_company" class="form-control" >
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box table-responsive">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <ul class="nav nav-tabs tabs-bordered nav-justified col-md-6">
                            <li class="nav-item">
                                <a href="#home-b2" data-toggle="tab" aria-expanded="false" class="nav-link active show">
                                    简历详情
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="home-b2">
                                <div class="card card-body">
                                    <label>工作简历</label>
                                    <div>
                                        <textarea required="" edit-enable="true" name="work_info" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="card card-body">
                                    <label>项目简历</label>
                                    <div>
                                        <textarea required="" edit-enable="true" name="project_info" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="card card-body">
                                    <label>教育简历</label>
                                    <div>
                                        <textarea required="" edit-enable="true" name="education_info" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="card card-body">
                                    <label>个人评价</label>
                                    <div>
                                        <textarea required="" edit-enable="true" name="personal_assessment" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="card card-body">
                                    <label>综合能力</label>
                                    <div>
                                        <textarea required="" edit-enable="true" name="comprehensive_ability" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>