{% extends 'base/_base.html' %}
{% load generaladmin_tags %}

{% block css %}
    <style>

    </style>
        <link href="/static/plugins/minton/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

        <link href="/static/plugins/minton/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <link href="/static/plugins/minton/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/static/plugins/minton/css/style.css" rel="stylesheet" type="text/css">

        <script src="/static/plugins/minton/js/modernizr.min.js"></script>

{% endblock %}

{% block title %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Compose</h4>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="#">Minton</a></li>
                <li class="breadcrumb-item"><a href="#">Mail</a></li>
                <li class="breadcrumb-item active">Compose</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block conent %}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box m-t-20">
            <div class="p-20">
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="To">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Cc">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Bcc">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <div class="summernote">
                            <h6>Hello Summernote</h6>
                            <ul>
                                <li>
                                    Select a text to reveal the toolbar.
                                </li>
                                <li>
                                    Edit rich document on-the-fly, so elastic!
                                </li>
                            </ul>
                            <p>
                                End of air-mode area
                            </p>

                        </div>
                    </div>

                    <div class="btn-toolbar form-group m-b-0">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success waves-effect waves-light m-r-5"><i class="fa fa-floppy-o"></i></button>
                            <button type="button" class="btn btn-success waves-effect waves-light m-r-5"><i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-danger waves-effect waves-light"> <span>Send</span> <i class="fa fa-send m-l-10"></i> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}

        <!-- Summer note -->
        <script src="/static/plugins/minton/plugins/summernote/summernote-bs4.min.js"></script>


        <script>
            jQuery(document).ready(function () {

                $('.summernote').summernote({
                    height: 250,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: false                 // set focus to editable area after initializing summernote
                });
            });
        </script>

{% endblock %}