{% load staticfiles %}
<nav class="navbar-custom">

    <ul class="list-inline float-right mb-0">
        
        {# <!-- 右侧 Sidebar --> #}
        {# <li class="list-inline-item notification-list"> #}
            {# <a class="nav-link right-bar-toggle waves-light waves-effect" href="#"> #}
                {# <i class="mdi mdi-dots-horizontal noti-icon"></i> #}
            {# </a> #}
        {# </li> #}

        <!-- Notification Sidebar -->
        {% include 'include/_notification_side_menu.html' %}

        <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

                <img id="HeadUserImg" src="{% static request.user.head_portrait %}" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="text-overflow"><small>{{ request.user.email }}</small> </h5>
                </div>
    
                <!-- item-->
                <a href="{% url "user-profile" %}" class="dropdown-item notify-item">
                    <i class="mdi mdi-account"></i> <span>用户配置</span>
                </a>

                <!-- item-->
                {# <a href="javascript:void(0);" class="dropdown-item notify-item"> #}
                    {# <i class="mdi mdi-settings"></i> <span>Settings</span> #}
                {# </a> #}

                <!-- item-->
                <a href="{% url "user-lock-screen" %}?auth={{request.user.email}}" class="dropdown-item notify-item">
                    <i class="mdi mdi-lock-open"></i> <span>用户锁定</span>
                </a>

                <!-- item-->
                <a href="{% url "user-logout"  %}" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout"></i> <span>登出系统</span>
                </a>

            </div>
        </li>

    </ul>

    <ul class="list-inline menu-left mb-0">
        <li class="float-left">
            <button class="button-menu-mobile open-left waves-light waves-effect">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>

    </ul>

</nav>